[Desktop Entry]
Type=Application
Icon=harbour-feed
Exec=harbour-feed
Name=feed.
Comment=Self-hosted ranked feed reader

[X-Sailjail]
Sandboxing=Disabled
